<%#
 Copyright 2019 Duy Ho <duyhohung.work@gmail.com>
 Licensed to the public under the Apache License 2.0.
-%>

    <%+ipsec-module2/ipsec_css%>

        <div class="cbi-section">
            <% if self.mode == "site2site" then %>
                <a href="<%=url('admin/vpn/ipsecvpn2')%>">
                    <%:Switch to client-to-server configuration%> &#187;</a>
                <p/>
                <hr />
                <% elseif self.mode == "client2server" then %>
                    <a href="<%=url('admin/vpn/ipsecvpn')%>">
                        <%:Switch to site-to-site configuration%> &#187;</a>
                    <p/>
                    <% end %>
        </div>